vendor/

# Build folder
build/*
!build/.openapi-generator-ignore

# OpenAPI cache
src/.openapi-generator/

# PHP CS Fixer cache
.php-cs-fixer.cache

# PHPUnit cache
.phpunit.result.cache

# IDE
.vscode

# OS X
**/.DS_Store